dostorres/WEB-INF/wsdl/ServicioDocumentoWSService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. -->
<definitions targetNamespace="http://ws.documentos.server.ondemand.qwds.focus.com/" name="ServicioDocumentoWSService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ws.documentos.server.ondemand.qwds.focus.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://ws.documentos.server.ondemand.qwds.focus.com/" schemaLocation="ServicioDocumentoWSService_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="obtenerDocumentosBloqueados">
    <part name="parameters" element="tns:obtenerDocumentosBloqueados"/>
  </message>
  <message name="obtenerDocumentosBloqueadosResponse">
    <part name="parameters" element="tns:obtenerDocumentosBloqueadosResponse"/>
  </message>
  <message name="ErrorDeAplicaqcion">
    <part name="fault" element="tns:ErrorDeAplicaqcion"/>
  </message>
  <message name="obtenerDocumento">
    <part name="parameters" element="tns:obtenerDocumento"/>
  </message>
  <message name="obtenerDocumentoResponse">
    <part name="parameters" element="tns:obtenerDocumentoResponse"/>
  </message>
  <message name="guardarDocumento">
    <part name="parameters" element="tns:guardarDocumento"/>
  </message>
  <message name="guardarDocumentoResponse">
    <part name="parameters" element="tns:guardarDocumentoResponse"/>
  </message>
  <message name="obtenerUsuario">
    <part name="parameters" element="tns:obtenerUsuario"/>
  </message>
  <message name="obtenerUsuarioResponse">
    <part name="parameters" element="tns:obtenerUsuarioResponse"/>
  </message>
  <message name="LoginInvalidoException">
    <part name="fault" element="tns:LoginInvalidoException"/>
  </message>
  <message name="obtenerUltimoDocumentoCreado">
    <part name="parameters" element="tns:obtenerUltimoDocumentoCreado"/>
  </message>
  <message name="obtenerUltimoDocumentoCreadoResponse">
    <part name="parameters" element="tns:obtenerUltimoDocumentoCreadoResponse"/>
  </message>
  <message name="obtenerDocumentoDeVersion">
    <part name="parameters" element="tns:obtenerDocumentoDeVersion"/>
  </message>
  <message name="obtenerDocumentoDeVersionResponse">
    <part name="parameters" element="tns:obtenerDocumentoDeVersionResponse"/>
  </message>
  <message name="guardarVersionDocumento">
    <part name="parameters" element="tns:guardarVersionDocumento"/>
  </message>
  <message name="guardarVersionDocumentoResponse">
    <part name="parameters" element="tns:guardarVersionDocumentoResponse"/>
  </message>
  <message name="subirDocumentoDigitalizado">
    <part name="parameters" element="tns:subirDocumentoDigitalizado"/>
  </message>
  <message name="subirDocumentoDigitalizadoResponse">
    <part name="parameters" element="tns:subirDocumentoDigitalizadoResponse"/>
  </message>
  <portType name="ServicioDocumentoWS">
    <operation name="obtenerDocumentosBloqueados">
      <input message="tns:obtenerDocumentosBloqueados"/>
      <output message="tns:obtenerDocumentosBloqueadosResponse"/>
      <fault message="tns:ErrorDeAplicaqcion" name="ErrorDeAplicaqcion"/>
    </operation>
    <operation name="obtenerDocumento">
      <input message="tns:obtenerDocumento"/>
      <output message="tns:obtenerDocumentoResponse"/>
      <fault message="tns:ErrorDeAplicaqcion" name="ErrorDeAplicaqcion"/>
    </operation>
    <operation name="guardarDocumento">
      <input message="tns:guardarDocumento"/>
      <output message="tns:guardarDocumentoResponse"/>
      <fault message="tns:ErrorDeAplicaqcion" name="ErrorDeAplicaqcion"/>
    </operation>
    <operation name="obtenerUsuario">
      <input message="tns:obtenerUsuario"/>
      <output message="tns:obtenerUsuarioResponse"/>
      <fault message="tns:LoginInvalidoException" name="LoginInvalidoException"/>
      <fault message="tns:ErrorDeAplicaqcion" name="ErrorDeAplicaqcion"/>
    </operation>
    <operation name="obtenerUltimoDocumentoCreado">
      <input message="tns:obtenerUltimoDocumentoCreado"/>
      <output message="tns:obtenerUltimoDocumentoCreadoResponse"/>
      <fault message="tns:ErrorDeAplicaqcion" name="ErrorDeAplicaqcion"/>
    </operation>
    <operation name="obtenerDocumentoDeVersion">
      <input message="tns:obtenerDocumentoDeVersion"/>
      <output message="tns:obtenerDocumentoDeVersionResponse"/>
      <fault message="tns:ErrorDeAplicaqcion" name="ErrorDeAplicaqcion"/>
    </operation>
    <operation name="guardarVersionDocumento">
      <input message="tns:guardarVersionDocumento"/>
      <output message="tns:guardarVersionDocumentoResponse"/>
      <fault message="tns:ErrorDeAplicaqcion" name="ErrorDeAplicaqcion"/>
    </operation>
    <operation name="subirDocumentoDigitalizado">
      <input message="tns:subirDocumentoDigitalizado"/>
      <output message="tns:subirDocumentoDigitalizadoResponse"/>
      <fault message="tns:ErrorDeAplicaqcion" name="ErrorDeAplicaqcion"/>
    </operation>
  </portType>
  <binding name="ServicioDocumentoWSPortBinding" type="tns:ServicioDocumentoWS">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="obtenerDocumentosBloqueados">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ErrorDeAplicaqcion">
        <soap:fault name="ErrorDeAplicaqcion" use="literal"/>
      </fault>
    </operation>
    <operation name="obtenerDocumento">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ErrorDeAplicaqcion">
        <soap:fault name="ErrorDeAplicaqcion" use="literal"/>
      </fault>
    </operation>
    <operation name="guardarDocumento">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ErrorDeAplicaqcion">
        <soap:fault name="ErrorDeAplicaqcion" use="literal"/>
      </fault>
    </operation>
    <operation name="obtenerUsuario">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="LoginInvalidoException">
        <soap:fault name="LoginInvalidoException" use="literal"/>
      </fault>
      <fault name="ErrorDeAplicaqcion">
        <soap:fault name="ErrorDeAplicaqcion" use="literal"/>
      </fault>
    </operation>
    <operation name="obtenerUltimoDocumentoCreado">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ErrorDeAplicaqcion">
        <soap:fault name="ErrorDeAplicaqcion" use="literal"/>
      </fault>
    </operation>
    <operation name="obtenerDocumentoDeVersion">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ErrorDeAplicaqcion">
        <soap:fault name="ErrorDeAplicaqcion" use="literal"/>
      </fault>
    </operation>
    <operation name="guardarVersionDocumento">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ErrorDeAplicaqcion">
        <soap:fault name="ErrorDeAplicaqcion" use="literal"/>
      </fault>
    </operation>
    <operation name="subirDocumentoDigitalizado">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="ErrorDeAplicaqcion">
        <soap:fault name="ErrorDeAplicaqcion" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="ServicioDocumentoWSService">
    <port name="ServicioDocumentoWSPort" binding="tns:ServicioDocumentoWSPortBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

